[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/glad"]
	path = libs/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/perlin"]
	path = libs/perlin
	url = https://github.com/Reputeless/PerlinNoise.git
